nav {
    display: flex;
    width: 100%;
    padding:20px 25px;
    position: fixed;
    background: #fff;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    @include shadow;

    @include desktop {
        padding: 10px 25px;
    }

    .logo {
        margin: 0 auto;
        @include desktop {
            margin: 0;
        }
        img {
            width: 200px;
            margin: 0 auto;
            @include desktop {
                margin: 0;
            }
        }
    }
    .back {
        font-size: 22px;
        padding: 6px;
        margin-right: -30px;

        @include desktop {
            display: none;
        }
    }
     .location {
        display: none;
        background: none;
        max-width: 300px;
        margin: 0;
        margin-right: 30px;
        position: initial;
        font-size: 25px;
        
        @include desktop {
            display: flex;
            align-items: baseline;
        }


        i {
            font-size: 25px
        }

        &:hover {
            cursor: pointer;
        }

        &_text {
            font-weight: $thin;
        }
     }
}

.location {
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    align-items: flex-start;
    position: relative;
        top: 78px;
    justify-content: center;
    font-weight: $regular;
    font-size: 20px;
    background-color: $gray;
    padding: 20px 0;
    gap: 10px;
    color: $dark_gray;
    @include desktop {
        display: none;
    }
}