//Google fonts import
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap');

@mixin shadow($transparent: 0.15) {
    box-shadow: 0 3px 15px rgba(0, 0, 0, $transparent);
};
@mixin dark_shadow($transparent: 0.25) {
    box-shadow: 0 3px 18px rgba(0, 0, 0, $transparent);
};

@mixin desktop {
    @media (min-width: 992px) { @content }
};
@mixin tablet {
    @media (min-width: 768px) { @content }
};



//Colors
$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary: #99E2D0;
$gray: #EAEAEA; 
$light_gray: #F6F6F6;
$dark_gray: #353535;

$gradient: linear-gradient(to top, $primary_color 0%, $secondary_color 100%);
$gradient_dark: linear-gradient(to top, darken($primary_color, 2) 0%, darken($secondary_color, 2) 100%);

//Fonts
$title:'Shrikhand', cursive;
$text: 'Roboto', sans-serif;

$thin: 300;
$regular: 700;
$medium: 900;

h2, h3 {
    font-size: 24px;
    font-weight: $regular;

    @include desktop {
        font-size: 34px;
    }
}

p {
    font-weight: $thin;
}
