@import "../variables";
@import "header";
@import "howitworks";
@import "restaurants";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    font-family: $text;
}

a {
    text-decoration: none;
    color: #000;
}