@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap");
h2, h3 {
  font-size: 24px;
  font-weight: 700; }

p {
  font-weight: 300; }

nav {
  display: flex;
  width: 100%;
  padding: 20px 25px;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  z-index: 5;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15); }
  @media (min-width: 992px) {
    nav {
      padding: 10px 25px; } }
  nav .back {
    font-size: 22px;
    padding: 6px; }
    @media (min-width: 992px) {
      nav .back {
        display: none; } }
  nav .logo {
    margin: 0 auto; }
    @media (min-width: 992px) {
      nav .logo {
        margin: 0;
        margin-top: 15px; } }
    nav .logo img {
      width: 200px;
      margin: 0 auto; }
      @media (min-width: 992px) {
        nav .logo img {
          margin: 0; } }
  nav .location {
    display: none;
    background: none;
    max-width: 300px;
    margin: 0;
    margin-right: 30px;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
    gap: 10px;
    color: #353535; }
    @media (min-width: 992px) {
      nav .location {
        display: flex;
        font-size: 22px;
        align-items: flex-start; } }
    nav .location:hover {
      cursor: pointer; }

.hero_image {
  width: 100%;
  height: 370px; }
  @media (min-width: 768px) {
    .hero_image {
      height: 500px; } }
  @media (min-width: 992px) {
    .hero_image {
      height: 570px; } }
  .hero_image img {
    object-fit: cover;
    position: center;
    width: 100%;
    height: 100%; }

.menu {
  background-color: #EAEAEA;
  padding: 30px 20px;
  border-radius: 30px 30px 0 0;
  position: relative;
  width: 100%;
  top: -30px;
  display: flex;
  flex-direction: column; }
  .menu .order {
    padding: 15px 85px;
    margin: 50px auto;
    color: #fff;
    font-size: 20px;
    border-width: 0;
    border-radius: 100px;
    align-items: center;
    background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
    font-weight: 300;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
    transition: all .15s ease-out; }
    @media (min-width: 768px) {
      .menu .order {
        font-size: 23px; } }
    @media (min-width: 992px) {
      .menu .order {
        font-size: 30px;
        padding: 15px 85px; } }
    .menu .order:hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
      transition: all .2s ease-in-out; }
    .menu .order:active {
      background: linear-gradient(to top, #985ede 0%, #ff83dd 100%); }
  @media (min-width: 768px) {
    .menu {
      padding: 30px; } }
  @media (min-width: 992px) {
    .menu {
      padding: 40px; } }
  .menu_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .menu_title {
        margin-bottom: 20px; } }
    @media (min-width: 992px) {
      .menu_title {
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 25px; } }
    .menu_title h2 {
      font-family: "Shrikhand", cursive; }
      @media (min-width: 768px) {
        .menu_title h2 {
          font-size: 30px; } }
      @media (min-width: 992px) {
        .menu_title h2 {
          font-size: 40px; } }
    .menu_title i {
      font-size: 30px;
      background-clip: text;
      color: #000;
      background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
      font-weight: 400;
      transition: all 0.1s ease-out;
      -webkit-background-clip: text; }
      .menu_title i:hover {
        cursor: pointer;
        color: transparent;
        font-weight: 900;
        color: transparent;
        transition: all .3s ease-out; }
      @media (min-width: 768px) {
        .menu_title i {
          font-size: 35px; } }
      @media (min-width: 992px) {
        .menu_title i {
          font-size: 45px; } }
      .menu_title i:active {
        font-size: 36px;
        margin-right: -3.5px;
        margin-top: -2px;
        color: #FF79DA;
        transition: all .01s ease-out; }
        @media (min-width: 768px) {
          .menu_title i:active {
            margin-left: 2px;
            margin-top: -5px;
            font-size: 46px; } }
        @media (min-width: 992px) {
          .menu_title i:active {
            font-size: 50px;
            margin-top: -2px;
            margin-left: -3px; } }
  .menu .plates {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    @media (min-width: 768px) {
      .menu .plates {
        gap: 30px; } }
    @media (min-width: 992px) {
      .menu .plates {
        display: flex;
        flex-direction: row;
        gap: 40px; } }
    .menu .plates .plate {
      width: 100%;
      gap: 10px; }
      @media (min-width: 768px) {
        .menu .plates .plate {
          gap: 20px; } }
      @media (min-width: 992px) {
        .menu .plates .plate {
          width: 31%; } }
      .menu .plates .plate_title {
        font-weight: 300;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        margin: 15px 0;
        position: relative; }
        @media (min-width: 768px) {
          .menu .plates .plate_title {
            font-size: 18px; } }
        @media (min-width: 992px) {
          .menu .plates .plate_title {
            font-size: 20px; } }
        .menu .plates .plate_title::after {
          content: "";
          background-color: #99E2D0;
          position: absolute;
          width: 40px;
          bottom: -10px;
          border-radius: 5px;
          top: 23px; }
          @media (min-width: 768px) {
            .menu .plates .plate_title::after {
              top: 27px;
              width: 50px; } }
          @media (min-width: 992px) {
            .menu .plates .plate_title::after {
              top: 30px; } }

.plate_container .card {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: #fff;
  opacity: 1;
  color: #000;
  position: relative;
  margin-top: 15px;
  padding: 15px;
  overflow: hidden;
  transition: opacity 0.5 linear;
  visibility: hidden;
  animation: card 0.6s linear 1;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15); }
  .plate_container .card:nth-child(1) {
    animation-delay: 0.16667s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(2) {
    animation-delay: 0.33333s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(3) {
    animation-delay: 0.5s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(4) {
    animation-delay: 0.66667s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(5) {
    animation-delay: 0.83333s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(6) {
    animation-delay: 1s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(7) {
    animation-delay: 1.16667s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(8) {
    animation-delay: 1.33333s;
    animation-fill-mode: forwards; }
  .plate_container .card:nth-child(9) {
    animation-delay: 1.5s;
    animation-fill-mode: forwards; }

@keyframes card {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
  @media (min-width: 768px) {
    .plate_container .card {
      height: 80px; } }
  @media (min-width: 992px) {
    .plate_container .card {
      height: 90px;
      padding: 20px;
      margin-top: 20px; } }
  .plate_container .card:hover {
    cursor: pointer; }
  .plate_container .card_details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media (min-width: 768px) {
      .plate_container .card_details {
        font-size: 20px; } }
    @media (min-width: 992px) {
      .plate_container .card_details {
        font-size: 22px; } }
    .plate_container .card_details .info {
      margin-top: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .plate_container .card_details .price {
      font-weight: 700;
      margin-right: 0;
      transition: margin .5s ease-in; }
  .plate_container .card_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0;
    transition: margin .5s ease-in; }
    @media (min-width: 768px) {
      .plate_container .card_title {
        font-size: 22px; } }
    @media (min-width: 992px) {
      .plate_container .card_title {
        font-size: 24px; } }
  .plate_container .card .check {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    border: 0;
    margin-left: 20px;
    transition: width .5s ease-in; }
    .plate_container .card .check i {
      color: #fff;
      font-size: 25px; }
  .plate_container .card:hover > .card_title {
    transition: all 1s ease-in;
    margin-right: 65px;
    animation: title 0.5s ease-out 1; }

@keyframes title {
  0% {
    margin-right: 0; }
  100% {
    margin-right: 65px; } }
  .plate_container .card:hover > .card_details .price {
    margin-right: 62px;
    animation: price 0.5s ease-out 1;
    transition: all 1s ease-in; }

@keyframes price {
  0% {
    margin-right: 0; }
  100% {
    margin-right: 62px; } }
  .plate_container .card:hover > .check {
    animation: checkBox 0.5s ease-out 1;
    cursor: pointer;
    width: 65px; }

@keyframes checkBox {
  0% {
    width: 0; }
  100% {
    width: 65px; } }
  .plate_container .card:hover > .check i {
    animation: checkIcon 0.5s ease-out 1; }

@keyframes checkIcon {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0); } }

h2, h3 {
  font-size: 24px;
  font-weight: 700; }

p {
  font-weight: 300; }

.footer {
  color: #fff;
  padding: 40px 30px;
  background-color: #353535;
  font-size: 26px;
  width: 100%;
  margin-top: -30px;
  display: flex;
  flex-flow: column nowrap;
  gap: 5px; }
  @media (min-width: 992px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      gap: 10px;
      padding: 50px 0 40px 0; } }
  .footer h5 {
    font-weight: 300;
    cursor: pointer; }
    .footer h5:hover {
      font-weight: 700; }
  .footer i {
    font-size: 20px; }
  .footer img {
    width: 150px;
    color: #fff;
    margin-bottom: 20px; }
  .footer_content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px; }
    .footer_content .suggest {
      margin-left: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #000;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: #000; }
